.change_container {
    width: 100%;
    height: calc(100vh - 123px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.change_container_title {
    font-size: 50px;
    font-variation-settings: 'wght' 700 , 'wdth' 75;
    color: var(--main-color);
    white-space: nowrap;
    text-align: center;
    margin: 5px 0 0 0;
}
.changeInput{
    border: solid 1px #B7B7B7;
    width: 399px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.changeErrorInput{
    border: solid 1px #D49F9F;
    width: 399px;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.changeBtn{
    height: 53px;
    width: 399px;
    border-radius: 10px;
    padding: 15px;
    margin: 25px 0;
    background-color: #FD5900;
    color: white;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 760px) {
    .change_container {
        height: 100vh;
    }
}
@media screen and (max-width: 460px) {
    .change_container {
        padding: 0px 20px;
    }
    .change_container_title {
        font-size: 40px;
    }
    .changeForm {
        width: 100%;
    }
    .changeInput{
        width: 100%;
    }
    .changeErrorInput{
        width: 100%;
    }
    .changeBtn{
        width: 100%;
    }
}